.homepage-base {
  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .image-loader-test {
    margin-top: 60px;
    margin-bottom: 60px;

    h2 {
      text-align: center;
    }

    img.img-base {
      margin-bottom: 30px;
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
}
